<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itcast.mybatis.mapper.OrdersCustomMapper">

    <select id="findOrdersUser" parameterType="" resultType="cn.itcast.mybatis.pojo.OrdersCustom">
            select
            orders.id,
            orders.user_id,
            orders.number,
            orders.createtime,
            user.username,
            user.address,
            user.sex,
            user.birthday
            FROM
            orders,user
            WHERE
            orders.user_id=user.id
            and user.id=1

    </select>
</mapper>